django-mongodb-backend==6.0.3
pymongo==4.17.0
python-dotenv==1.2.2
certifi==2026.6.17
llama-index==0.14.22
llama-index-vector-stores-mongodb==0.10.1
llama-index-embeddings-voyageai==0.6.0
llama-index-llms-openai
openai==2.43.0
